@import 'reset';
$colorValue: #FFFFFF;
html {
	height: 100%;
}
* {
	box-sizing:border-box;
}
body {
	-webkit-font-smoothing: antialiased;
	font-family: "Open Sans", sans-serif;
	height: 100%;
}
#container {
	background-color: black;
	color: white;
	width:100%;
	height: 100%;
	font-family: 'Grotesk-Regular';
	font-size: 15px;
	position: absolute;
}
#hi {
	font-family: 'Grotesk-Bold';
	font-size: 150px;
	top: 50%;
	margin-top: -75px;
	text-align: center;
	width: 100%;
}
.top {
	top: 45px;
}
.bottom {
	bottom: 40px;
}
.left {
	left: 50px;
}
.right {
	right: 50px;
}